.accordion {
  max-width: 400px;
  margin: 50px auto;

  > .wrapper {
    outline: 0.5px solid gray;
    border-radius: 8px;
    background-color: #fff;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:focus-within,
    &:hover {
      outline: 0.5px solid blue;
    }
  }

  >.wrapper  > .title {
      position: relative;
      margin: 0;
      padding: 0;
      border: 0;
    }
  
  >.wrapper > .title > .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 200;
  }

  > .wrapper > .content  {
    max-height: 100vh;
    transition: max-height 0.8s ease;
    overflow: hidden;

    &.Close {
      max-height: 0;
    }
  }

  >.wrapper > .content > .text {
    padding: 14px 20px;
  }
}